/* TAILWIND */
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
	display: none;
}

:root {
	--body-font-family: "Poppins", sans-serif;
	--header-font-family: "Montserrat", sans-serif;
	--primary-color: #ecf8f9; /* Fondo */
	--secondary-color: #068da9; /* Menus */
	--tertiary-color: #7e1717; /* Componentes */
	--quaternary-color: #e55807; /* Textos */
}

* {
	box-sizing: border-box;
	font-family: inherit;
	font-size: inherit;
	margin: 0;
	padding: 0;
}

body {
	font-family: var(--body-font-family);
	background-color: var(--primary-color);
}

div#root {
	display: flex;
	flex-direction: column;
	min-width: 320px;
}

h1 {
	font-family: var(--header-font-family);
}

.product {
	margin-left: 30%;
}

.inputBox {
	padding: 7px;
	display: block;
	border: 1px solid skyblue;
	width: 300px;
	margin: 30px;
}

.appButton {
	margin: 20px;
	width: 150px;
	padding: 10px;
	background-color: skyblue;
	border: solid 1px;
	cursor: pointer;
}